@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    padding:0;
    margin: 0;
    display: block;
    box-sizing: inherit;
    font-family: 'Work Sans', sans-serif;
      font-size: 100%;  
}
.navRow {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navBrand {
    flex-grow: 3;
}
.navItem>a {
    text-decoration: none;
    text-decoration-color: white;
    font-family:sans-serif;
}
.aNav{
    color: white;
}
.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0;
    left:0;
    top: 0;
    right: 0;
  animation-fill-mode:forwards;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 0.75rem;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.4;
    letter-spacing: .006em;
    -webkit-font-smoothing: antialiased;
}

.banner {
    background-image: url(../img/home-7.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    position: relative;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: 0;
    color: white;
    font-size: 28px;
    text-align: center;
}
#bannerp{
    font-size: .93rem;
    letter-spacing: .2em;
    margin-bottom: 1.1rem;
}
#banner1h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: .004em;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1rem;
    margin-top: 0;
}
#banner2h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: .004em;
    -webkit-font-smoothing: antialiased;
        line-height: 1.18;
    margin-top: 0;
}
#aboutpar{
    text-align: center;
    overflow: hidden;
    width: 60vw;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
@keyframes navscrl{
    0% {background-color: none;}
    100% {background-color: white;}
}
@keyframes navscrlbk{
     0% {background-color: white;}
     100% {background-color: none;}
}
.numbers {
    background-image: url(../img/bg-pattern.jpg);
    height: 30vh;
    padding-left: 17.5%;
}
.numItems {
   display: flex;
    align-items: center;
}
.img >i {
    color: white;
}
.img {
    padding: 20px;
}
.data>p {
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    display: block;
}
.data{
    display: block;
    margin: 10px;
}
.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#thumbnail1 {
    background-image: url(../img/portfolio-1-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}
.Items {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnailhover{
     width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    flex-direction: column;
    visibility: hidden;
}
#thumbnail2 {
    background-image: url(../img/portfolio-2-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh
}

#thumbnail3 {
    background-image: url(../img/portfolio-3-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

#thumbnail4 {
    background-image: url(../img/portfolio-4-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

#thumbnail5 {
    background-image: url(../img/portfolio-5-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

#thumbnail6 {
    background-image: url(../img/portfolio-6-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

#thumbnail7 {
    background-image: url(../img/portfolio-7-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

#thumbnail8 {
    background-image: url(../img/portfolio-8-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

#thumbnail9 {
    background-image: url(../img/portfolio-9-sm.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vh;
}

.thumbnail>a{
    text-decoration:none;
}
.thlink:hover .thumbnailhover{
    visibility: visible;
    animation-name: thuhover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.thumbnailhover:hover .title {
    animation-name: titanim;
    animation-duration: 0.4s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
}
.title{
    margin-top: 0px;
    position: absolute;
}
.descr{
    margin-top: 30px;
}
.thumbnailhover:hover .descr {
    animation-name: descranim;
    animation-duration: 0.2s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
}

@keyframes thuhover{
    0%{background-color: rgba(0,0,0,0)}
    100%{background-color: rgba(0,0,0,0.8)}
}
@keyframes titanim{
    0%{margin-top: 0px; }
    100%{margin-top: -10px;}
}
@keyframes descranim{
    0%{margin-top: 30px; visibility: hidden;}
    100%{margin-top: 20px;visibility: visible; }
}
.bestProjects > h1{
    font-family: sans-serif;
    font-size: 3rem;
}
.description>p {
    font-family: sans-serif;
    font-size: 1.25rem;
    text-align: center;
    
}
.thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    flex-wrap: wrap;
    margin-bottom: 20vh;
    margin-top: 10vh;
}

.par {
    
    width: 60%;
    font-size: 1.4rem;
    line-height: 1.45;
    margin-bottom: 1.15rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
    color: white;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face { font-family:'FontAwesome'; 
        src: url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    } 
}
.widthContainer {
  margin-left: 20%;
    margin-right: 20%;   
}
@media(min-width:991px){
    .mobileNav{display: none;}
    .mobileBtn{display: none;}
 .mobileNavItems{width: 100%;height: 100%; background-color: rgba(255, 255, 255, 0.95); display: none; justify-content: center; align-items:center; flex-direction:column;position: fixed; z-index: 1;}
    .mobileNavRow{display: none;}
    
    
}
@media(max-width:1440px) and (min-width:991px){
    .navBrand{flex-grow: 2;}
    .navRow{width: 70%;}
    .mobileNav{display: none;}
    .mobileBtn{display: none; }
.mobileNavItems{width: 100%;height: 100%; background-color: rgba(255, 255, 255, 0.95); display: none; justify-content: center; align-items:center; flex-direction:column;position: fixed; z-index: 1;}
    .mobileNavRow{display: none;}
    
}
@media(max-width: 991px) and (min-width:768px){
    navLinks{display: none; }
    .widthContainer { margin-left: 15%;margin-right: 15%;}
    .par{width:80%;}
    .navBrand{flex-grow: 2;}
    .navRow{width: 80%;}
    .mobileNav{display: none;}
    .mobileBtn{display: none;}
.mobileNavItems{width: 100%;height: 100%; background-color: rgba(255, 255, 255, 0.95); display: none; justify-content: center; align-items:center; flex-direction:column;position: fixed; z-index: 1;}
    .mobileNavRow{display: none;}
    
}
@media (min-width:600px) and (max-width: 768px){
    .thumbnail1{width: 40vh; height: 40vh;}
    .thumbnail2{width: 40vh; height: 40vh;}
    .thumbnail3{width: 40vh; height: 40vh;}
    .thumbnail4{width: 40vh; height: 40vh;}
    .thumbnail5{width: 40vh; height: 40vh;}
    .thumbnail6{width: 40vh; height: 40vh;}
    .thumbnail7{width: 40vh; height: 40vh;}
    .thumbnail8{width: 40vh; height: 40vh;}
    .thumbnail9{width: 40vh; height: 40vh;}
    html{font-size: 75%}
    .bannerItems{font-size: 1.75rem;}
    .numbers{height: 70vh; padding-left: 7.5%;}
    .Items{flex-wrap: wrap; width: 90%; justify-content: space-between}
    .nav{display: none}
    .mobileNav{position: fixed;display: flex;justify-content: center;align-items: center;width: 100%;height: 10vh;animation-fill-mode: forwards;}
    .mobileNavItems{width: 100%;height: 100%; background-color: rgba(255, 255, 255, 0.95); display: none; justify-content: center; align-items:center; flex-direction:column;position: fixed; z-index: 1;}
    .mobileNavRow{width: 90%;display: flex;flex-direction: row;align-content: center;justify-content: center;}
    .mobileBtn{color: white;height: 30px;}
     #aboutpar{width: 80vw;}
    .widthContainer { margin-left: 5%;margin-right: 5%;}
    .par{width: 90%;}
}
@media( max-width: 600px){
    .thumbnail1{width: 50vh;height: 50vh;}
    .thumbnail2{width: 50vh;height: 50vh;}
    .thumbnail3{width: 50vh;height: 50vh;}
    .thumbnail4{width: 50vh;height: 50vh;}
    .thumbnail5{width: 50vh;height: 50vh;}
    .thumbnail6{width: 50vh;height: 50vh;}
    .thumbnail7{width: 50vh;height: 50vh;}
    .thumbnail8{width: 50vh;height: 50h;}
    .thumbnail9{width: 50vh;height: 50vh;}
    .Items{flex-wrap: wrap;}
    .nav{display: none;}
    .bannerItems>h1{font-size:1.25rem; }
    html{font-size: 50%;}
    .mobileNav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    animation-fill-mode: forwards;
}
.mobileNavItems{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}
.mobileNavRow{
     width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.mobileBtn{
    color: white;
    height: 30px;
}
    #aboutpar{width: 90vw;}
    .widthContainer { margin-left: 0%;margin-right: 0%;}
    .par{width:90%;}
}
.carousel-bg {
    background-image: url(/img/bg-pattern.jpg);
    width:100%;
    height: 60vh;
}
.cit {
    font-size: 1.4rem;
    line-height: 1.45;
    margin-bottom: 1.15rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
    color: white;
}

.quote {    
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;    
}




.navItemMobile {
    color: black;
    margin:5%;
    text-decoration: none;
    font-size: 1.8em;
    display: none;
    z-index: 10;
}
.navItemMobile>a:link {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
    font-family:sans-serif bold;
}
.mobileNavExitBtn {
    position: fixed;
    z-index: 1;
    margin-left: 88vw;
    margin-top:3vh;
    display: none;
    z-index: 2;
}